img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#background {
    position: absolute;
    max-width: 1000px;
    min-width: 1000px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.tucen{
    position: absolute;
    max-width: 1000px;
    min-width: 1000px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.my-custom-class {
    background: aliceblue;
    font-size: 125%;
  }
  .my-custom-class .arrow::after {
    border-top-color: aliceblue;
  }

.popover {
    width: 50% !important;
}

#popover-btn {
    opacity: 0;
    position: absolute;
    left: -1;
    top: -1;
    z-index: 2000;
}
