
<div id="body" style="position: relative;">
    <img width="100%" id="background" (mousemove)="whenHover($event)" (click)="show($event)" src="/assets/img/map.png">
    <img *ngIf="showeecs" width="100%" id="eecs" (mousemove)="whenHover($event)" (click)="show($event)" src="/assets/img/eecs.png" >
    <ng-template #popContent ><img width="100%" style="margin:5px;" src="/assets/img/eecs.jpg"></ng-template>
    <button id="popover-btn" style="cursor: pointer;" (click)="this.showEecsModal = true" (mouseenter)="showeecs=true" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" popoverTitle="Click to Choose EECS as Base"></button>
</div>

<eecs *ngIf="showEecsModal"  (closeModal)="showEecsModal = false"></eecs>