<div class="modal fade-in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">EECS Building</h4>
                <button class="close" type="button" aria-label="Close" (click)="closeModal.emit()"><span>&times;</span></button>
            </div>
            
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <p> <b>Address: 1301 BEAL AVE </b></p>
                        <p> <b>ZIP: 48109</b> </p>
                        <p> <b>Base Property: HP+1000</b></p>
                    </div>
                    <div class="col-sm-6">
                        <img width="100%" src="/assets/img/eecs 2.jpg">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-secondary" (click)="this.closeModal.emit();openInNewTab('http://www-personal.umich.edu/~qiyueyao/index.html');">CHOOSE IT AS BASE</a>
            </div>
            
        </div>
    </div>
</div>
