<div style="text-align:center; position: relative;">
    <img width="100%" id="startgame-backgroud" alt="Start Page" src="/assets/img/startgame.png">
    <div class="buttons">
        <img id="startgame-tutorialBtn" (mousedown)="toggleTutorial()" (mouseup)="gotoTutorial()" alt="tutorial button" align="middle" src="/assets/img/tutorialBtn0.PNG">
        <img id="startgame-startBtn" (mousedown)="toggleStart()" (mouseup)="gotoStart()" alt="start button" align="middle" src="/assets/img/startBtn0.PNG">
    </div>
</div>

