<!-- <div style="margin-left:40px;margin-top:5px;"> -->
<div style="margin-left:40px;margin-top:5px;">
    <img id="return-btn" width="200px" align="left" style="cursor: pointer;" src="/assets/img/left.png" (click)="goBack()" (mouseenter)="hoverin()" (mouseleave)="hoverout()">
</div>
<!-- <div>
    <video id="vedio" controls="controls" width="800" height="600" 
       name="Tutorial" style="margin:0" src="../assets/mov/DefendUMich-recording.mov"></video>
</div> -->
<div style="padding-top:120px;padding-left:20%;padding-right:20%;">
    <h2>Phase 1: Choose Your Base</h2>
    <br>
    <h4>Hover on the building to see its photo in real life</h4>
    <br>
    <img width="50%" src="/assets/img/hover.gif">
    <br>
    <br>
    <h4>Click on the building to see its address, zip code and property as a base in the game</h4>
    <br>
    <img width="50%" src="/assets/img/click.gif">
    <br>
    <br>
    <h4>Choose a specific room you want to go and click on the button to go to the actual game page or close the modal to choose another base</h4>
    <br>
    <br>
    <h2>Phase 2: Defend Your Base</h2>
    <br>
    <h4>Click on the tower to buy tower and click on an empty spot to place the tower</h4>
    <p style="color:red;">Note: You are not allowed to place a tower on the road or on any base.</p>
    <br>
    <img width="50%" src="/assets/img/buy tower.gif">
    <br>
    <br>
    <h4>Frozen tower can slow monsters down while attacking them</h4>
    <p style="color:red;">Hint: Make good use of frozen tower!</p>
    <br>
    <img width="50%" src="/assets/img/ice.gif">
    <br>
    <br>
    <h4>Your budget is limited, kill monsters to get money to buy towers</h4>
    <br>
    <img width="50%" src="/assets/img/budget.png">
    <br>
    <br>
    <h4>HP of your base is displayed up there, try to keep it green:</h4>
    <br>
    <img width="50%" src="/assets/img/HP.png">
    <br>
    <br>
    <h4>Survive that many waves of monster and then YOU WIN!</h4>
    <br>
    <img width="50%" src="/assets/img/wave.png">
    <br>
    <br>
</div>
