.modal {
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 9000;
    overflow-y: auto;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    outline: 0;
}

.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
    position: relative;
    width: auto;
    pointer-events: none;
}

.modal.show{
	display: block !important;
}

.modal-content {
    max-width: 500px;
    position: relative;
    background-color: #fefefe;
    margin-top: 15em;
    padding: 0;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding: 15px !important;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    &  button.close {
        cursor: pointer;
        padding: 1rem;
        margin: -1rem -1rem -1rem auto;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;

        &:hover, &:active, &:focus {
            background: none;  /** Changed in sprint 50 from #cdcdcd */
        }
    }

    .close {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
    }
}

.modal-header {
	padding: 2px 16px;
    background: #fff;
    border: none;
}

.modal-body {
	padding: 24px;
    background-color: #f8faf8;
}

.modal-footer {
    border: none;
    background-color: #f8faf8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}

.modal-body .success-msg
 {
	font-size: 14px;
    font-weight: bold;
    color: #4F5557;
}


///////

.btn, a.btn {
    color: #fff;
    font-size: 12px;
    padding: 0 24px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: none;
    cursor: pointer;
    height: 30px;
    line-height: 30px;

    &:hover, &:focus, &:active {
        color: #fff;
        border-bottom: none;
    }

    &.disabled, &:disabled {
        pointer-events: none;
        opacity: 0.4;
        -webkit-filter: grayscale(100%); 
       filter: grayscale(100%);
    }
}

.btn-secondary, a.btn-secondary {
    background: white;
    border: solid 1px #00274c;
    color: #00274c;

    &:hover {
        background-color: #00274c;
    }

    &:focus, &:active, &.active {
        background: none;
        color: #00274c;
        outline: 5px auto -webkit-focus-ring-color;
    }

    &.disabled, &:disabled {
        background: #6c757d;
        border-color: #6c757d;
    }
}

.genre{
    margin: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    border-radius: 3px;
    border-color: #c3c3c3;
    background-color: #f5f4f4;
  }
  
  button.genre:hover {
    background-color: #e8e8e8;
  }
  
  button.genre-focus {
    margin: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    border-radius: 3px;
    border-color: #c3c3c3;
    background-color: #00274c;
    color:white;
  }

