<div class="modal fade-in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{info.title}}</h4>
                <button class="close" type="button" aria-label="Close" (click)="closeModal.emit()"><span>&times;</span></button>
            </div>
            
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <p> <b>{{info.address}} </b></p>
                        <p> <b>{{info.zip}}</b> </p>
                        <p> <b>{{info.property}}</b></p>
                    </div>
                    <div class="col-sm-6">
                        <img width="100%" src="{{ info.image }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin-top: 32px; margin-bottom: -22px;">
                            <b>Choose a room as your base:</b>
                            <span *ngFor="let room of info.rooms">
                                <button [ngClass]="[room === selectedRoom ? 'genre-focus' : 'genre']" (click)="selectRoom(room)">{{room}}</button>
                            </span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a *ngIf="selectedRoom" class="btn btn-secondary" [ngClass]="{ 'disabled': disableBtn }" (click)="onClick()">CHOOSE ROOM {{selectedRoom}} AS BASE</a>
                <a *ngIf="!selectedRoom" class="btn btn-secondary disabled" (click)="onClick()">CHOOSE A ROOM BEFORE PROCEED</a>
            </div>
            
        </div>
    </div>
</div>